$header-text: #f00;
$full-width: 100%;
$trans-color: transparent;
$text-color-1: rgba(255, 255, 255, .9);
$text-color-2: rgba(0, 0, 0, .9);
$bg-color-1: #e74c3c;
$bg-color-2: #fff;
$bg-color-3: #313131;
$bg-color-4: #000;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-lg-1: 20px;
$font-lg-2: 24px;
$font-lg-3: 28px;
$font-lg-4: 32px;
